### Bishop Data Collection Automation Framework

This notebook provides a basic framework for scraping the relevant data from Wikipedia pages where those pages include lists of bishops for specific dioceses. It can collect from a few basic list formats, but it may not work well with tables or other data sources. As I try to run it on more pages I will try to expand its scope to account for these.

Note: The final collection function takes a 'path' argument to enable the selenium webdriver; this path is generally something like '/Users/*yourname*/Downloads/chromedriver'.

### *CURRENT ISSUES*

1. There was an error when using the *googletrans Translator*; I have not looked into this further, so for now I have commented out that code, and simply instruct *bio_collector* to include a blank "English Bio" field
2. *bio_collector* does not work if the hyperlinked URL is not just the exact name from the list; for example, *Peder Jansen Lodehat* in *Aarhus* works, because the hyperlinked URL is just https://de.wikipedia.org/wiki/Peder_Jansen_Lodehat, but *Eskil* in *Roskilde* does not work because the hyperlinked URL is https://de.wikipedia.org/wiki/Eskil_von_Lund instead of just https://de.wikipedia.org/wiki/Eskil
3. I have not accounted for the binary *Archbishop* column yet... not sure how to do that... maybe we can check Yada's code? https://github.com/pruksmhc/JobDioceScrape/blob/master/main.py
4. I have not gotten to this stage yet because I wanted to go through a number of list pages for testing, but eventually I will write a function to loop through a list of per-diocese URLS and merge all DataFrames for a given country

In [14]:
# Package import cell
import re
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
from requests import get
from googletrans import Translator
translator = Translator()

In [2]:
# Define function to collect data from well-defined list Wikis
def list_collector(path, url):
    primary_url = url
    driver = webdriver.Chrome(executable_path = path)
    driver.get(primary_url)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    driver.close()
    bishops = soup.find_all('li')
    return bishops

In [3]:
# Define function to collect list text from list_collector
def list_to_text(bishop_list):
    bishop_list_text = [bishop.text for bishop in bishop_list]
    return bishop_list_text

In [4]:
# Define function to create merge-able dataframe of bishops with bio links
def link_collector(bishop_list):
    secondary_urls = {}
    for bishop in bishop_list:
        urls = bishop.findAll('a')
        for a in urls:
            if 'redlink' not in a['href']:
                name = ' '.join(a['href'].split('/')[-1].split('_'))
                url = 'https://de.wikipedia.org'+a['href']
                secondary_urls.update({name:url})
    bishops_with_bios = pd.DataFrame(list(secondary_urls.items()), columns=['Name', 'Bio Link'])
    return bishops_with_bios

In [49]:
# Define function to convert bishop list text to clean list of lists
def list_cleaner(bishop_list_text):
    clean_bishops = []
    for bishop in bishop_list_text:
        bishop = bishop.replace('ca. ', '').replace('um ', '').replace('seit ', '')
        bishop = bishop.replace(' –', '–')
        bishop = bishop.replace('– ', '–')
        bishop = bishop.replace('- ', '–')
        bishop = bishop.replace(' -', '–')
        bishop = bishop.replace(':', '')
        bishop = bishop.replace('vakant', 'Vacant')
        bishop = re.sub(r' ?\([^)]+\)', '', bishop)
        if bishop[0:3].isdigit():
            bishop_elements = bishop.split(' ')
            years = bishop_elements[0]
            if '–' in years:    
                year_elements = years.split('–')
                year_in = year_elements[0]
                year_out = year_elements[1]
            else:
                year_in = years
                year_out = ''
            name = ' '.join(bishop_elements[1:])
            clean_bishops.append([name, year_in, year_out])
        elif ((bishop[-3:].isdigit()) | (bishop.endswith('??'))):
            bishop_elements = bishop.split(' ')
            years = bishop_elements[-1]
            if '–' in years:    
                year_elements = years.split('–')
                year_in = year_elements[0]
                year_out = year_elements[1]
            else:
                year_in = years
                year_out = ''
            name = ' '.join(bishop_elements[:-1])
            clean_bishops.append([name, year_in, year_out])
    return clean_bishops

In [36]:
# Define function to convert clean list of lists to clean dataframe
def dataframer(list_of_bishop_lists, country, diocese):
    data = pd.DataFrame.from_records(list_of_bishop_lists)
    data = data.rename({0:'Name', 1:'From', 2:'To'}, axis='columns')
    data['Country'] = country
    data['Diocese'] = diocese
    data = data[(~data['From'].str.startswith('17')) & (~data['From'].str.startswith('18')) 
                & (~data['From'].str.startswith('19')) & (~data['From'].str.startswith('2')) 
                & (~data['From'].str.startswith('-'))]
    return data

In [17]:
# Define function to merge bishop dataframe with link dataframe
def url_merger(bishop_dataframe, link_dataframe):
    merged_dataframe = pd.merge(bishop_dataframe, link_dataframe, on='Name', how='left')
    merged_dataframe = merged_dataframe.fillna('')
    return merged_dataframe

In [26]:
# Define function to process available links and collect biographies in dataframe
def bio_collector(dataframe, path):
    bio_list = []
    for link in dataframe['Bio Link']:
        if link != '':
            driver = webdriver.Chrome(executable_path = path)
            driver.get(link)
            html = driver.page_source
            soup = BeautifulSoup(html, 'html.parser')
            driver.close()
            name = ' '.join(link.split('/')[-1].split('_'))
            paragraphs = soup.find_all('p')
            gbio = ' '.join(paragraph.text for paragraph in paragraphs).replace('\n', ' ')
#             ebio = translator.translate(gbio, src='de', dest='en')
            ebio = ''
#             bio_list.append([name, gbio, ebio.text])
            bio_list.append([name, gbio, ebio])
    bio_dataframe = pd.DataFrame.from_records(bio_list)
    bio_dataframe = bio_dataframe.rename({0:'Name', 1:'German Bio', 2:'English Bio'}, axis='columns')
    return bio_dataframe

In [58]:
# Define function to create final clean dataframe
def dataframe_finalizer(bishop_dataframe, bio_dataframe):
    if not bio_dataframe.empty:
        final = pd.merge(bishop_dataframe, bio_dataframe, on='Name', how='left')
        final = final.fillna('')
    else:
        final = bishop_dataframe
        final['German Bio'] = ''
        final['English Bio'] = ''
        final = final.fillna('')
    return final

In [28]:
# Define function to automate the collection process using above functions
def collector(path, url, country, diocese):
    bishop_list = list_collector(path, url)
    clean_bishop_list = list_cleaner(list_to_text(bishop_list))
    clean_bishop_dataframe = dataframer(clean_bishop_list, country, diocese)
    link_dataframe = link_collector(bishop_list)
    merged_dataframe = url_merger(clean_bishop_dataframe, link_dataframe)
    bio_dataframe = bio_collector(merged_dataframe, path)
    output = dataframe_finalizer(merged_dataframe, bio_dataframe)
    return output

In [30]:
denmark_aarhus = collector('/Users/orion/Downloads/chromedriver', 'https://de.wikipedia.org/wiki/Liste_der_Bisch%C3%B6fe_von_Aarhus', 'Denmark', 'Aarhus')
denmark_aarhus

,Name,From,To,Country,Diocese,Bio Link,German Bio,English Bio
0,Reginbrand,948,,Denmark,Aarhus,https://de.wikipedia.org/wiki/Reginbrand,Reginbrand († 988) war der erste Bischof von A...,
1,Christian,1060,,Denmark,Aarhus,,,
2,Ulkil oder Ulkeld,1102,1134,Denmark,Aarhus,,,
3,Illuge,1134,,Denmark,Aarhus,,,
4,Eskil,1157,,Denmark,Aarhus,,,
5,Svend I.,1165,1191,Denmark,Aarhus,,,
6,Peder Vognsen,1191,1204,Denmark,Aarhus,,,
7,Skjalm Vognsen,1204,1215,Denmark,Aarhus,,,
8,Ebbe Vognsen,1215,1224,Denmark,Aarhus,,,
9,Peder Elavsøn,1224,1246,Denmark,Aarhus,,,
10,Vacant,1246,1249,Denmark,Aarhus,,,
11,Peder Ugotsøn,1249,1260,Denmark,Aarhus,,,
12,Vacant,1260,1261,Denmark,Aarhus,,,
13,Tyge I.,1261,1272,Denmark,Aarhus,,,
14,Peder IV.,1272,1276,Denmark,Aarhus,,,
15,Tyge II.,1276,1288,Denmark,Aarhus,,,
16,Jens Assersøn,1288,1306,Denmark,Aarhus,,,
17,Esger Juul,1306,1310,Denmark,Aarhus,,,
18,Esger Bonde,1310,1325,Denmark,Aarhus,,,
19,Svend II.,1325,1352,Denmark,Aarhus,,,
20,Poul,1352,1369,Denmark,Aarhus,,,
21,Oluf,1369,1386,Denmark,Aarhus,,,
22,Peder Jensen Lodehat,1386,1395,Denmark,Aarhus,https://de.wikipedia.org/wiki/Peder_Jensen_Lod...,"Peder Jensen Lodehat, latinisiert Petrus Johan...",
23,Bo Mogensen,1395,1424,Denmark,Aarhus,,,
24,Ulrik Stygge,1424,1449,Denmark,Aarhus,,,
25,Jens Iversen Lange,1449,1482,Denmark,Aarhus,,,
26,Ejler Madsen Bølle,1482,1490,Denmark,Aarhus,,,
27,Niels Clausen,1490,1520,Denmark,Aarhus,,,
28,Ove Bille,1520,1536,Denmark,Aarhus,,,
29,Mads Lang,1537,1557,Denmark,Aarhus,,,
30,Lauritz Bertelsen,1557,1587,Denmark,Aarhus,,,
31,Peder Jensen Vinstrup,1587,1590,Denmark,Aarhus,,,
32,Albert Hansen,1591,1593,Denmark,Aarhus,,,
33,Jens Gjødesen,1593,1626,Denmark,Aarhus,,,
34,Morten Madsen,1626,1643,Denmark,Aarhus,,,
35,Jacob Matthiesen,1645,1660,Denmark,Aarhus,,,
36,Hans Brochmand,1660,1664,Denmark,Aarhus,,,
37,Erik Grave,1664,1691,Denmark,Aarhus,,,
38,Johannes Braem,1691,1713,Denmark,Aarhus,,,

In [31]:
denmark_funen = collector('/Users/orion/Downloads/chromedriver', 'https://de.wikipedia.org/wiki/Liste_der_Bisch%C3%B6fe_von_F%C3%BCnen', 'Denmark', 'Funen')
denmark_funen

,Name,From,To,Country,Diocese,Bio Link,German Bio,English Bio
0,Odinkar Hvide,988,10??,Denmark,Funen,,,
1,Reiner I.,1022,10??,Denmark,Funen,,,
2,Gilbert,1048,1072,Denmark,Funen,,,
3,Hubald,1101,11??,Denmark,Funen,,,
4,Hermann,1136,1138,Denmark,Funen,,,
5,Ricolf,1138,1163,Denmark,Funen,,,
6,Linus,1163,11??,Denmark,Funen,,,
7,Simon,1170,1186,Denmark,Funen,,,
8,Johann I.,1186,1213,Denmark,Funen,,,
9,Lojus,1213,1236,Denmark,Funen,,,
10,Iver,12??,1245,Denmark,Funen,,,
11,Niels,1245,1247,Denmark,Funen,,,
12,Jakob,1247,1252,Denmark,Funen,,,
13,Reiner II.,1252,1267,Denmark,Funen,,,
14,Peter,1267,1276,Denmark,Funen,,,
15,Johann II.,1277,1286,Denmark,Funen,,,
16,Gisiko,1286,1300,Denmark,Funen,,,
17,Niels Jonassøn,1340,1362,Denmark,Funen,,,
18,Erik Johansen Krabbe,1362,1376,Denmark,Funen,,,
19,Waldemar Podebusk,1376,1392,Denmark,Funen,,,
20,Jens Ovesen,1400,1420,Denmark,Funen,,,
21,Navne Jensen,1420,1440,Denmark,Funen,,,
22,Mogens Krafse,1460,1474,Denmark,Funen,,,
23,Karl Rønnow,1475,1501,Denmark,Funen,,,
24,Jens Andersen Beldenak,1501,1517,Denmark,Funen,,,
25,Jens Andersen Beldenak,1523,1529,Denmark,Funen,,,
26,Knud Henrikssen Gyldenstjerne,1529,1534,Denmark,Funen,,,
27,Gustav Trolle,1534,1535,Denmark,Funen,https://de.wikipedia.org/wiki/Gustav_Trolle,Gustav Eriksson Trolle (* um 1488 in Bergkvara...,
28,Knud Henrikssen Gyldenstjerne,1535,1536,Denmark,Funen,,,
29,Jørgen Jensen Sadolin,1537,1559,Denmark,Funen,,,
30,Jacob Madsen Vejle,1587,1606,Denmark,Funen,https://de.wikipedia.org/wiki/Jacob_Madsen_Vejle,Jakob Madsen Vejle (auch: Jacob Matthias Villu...,
31,Hans Knudsen Vejle,1606,1616,Denmark,Funen,,,
32,Hans Mikkelsen,1616,1651,Denmark,Funen,,,
33,Laurids Jacobsen Hindsholm,1651,1663,Denmark,Funen,,,
34,Niels Hansen Bang,1663,1676,Denmark,Funen,,,
35,Thomas Kingo,1677,1703,Denmark,Funen,https://de.wikipedia.org/wiki/Thomas_Kingo,Thomas Hansen Kingo (* 15. Dezember 1634 in Sl...,

In [35]:
denmark_roskilde = collector('/Users/orion/Downloads/chromedriver', 'https://de.wikipedia.org/wiki/Liste_der_Bisch%C3%B6fe_von_Roskilde', 'Denmark', 'Roskilde')
denmark_roskilde

,Name,From,To,Country,Diocese,Bio Link,German Bio,English Bio
0,Godebald,991,1020,Denmark,Roskilde,,,
1,Gerbrand,1022,1029/30,Denmark,Roskilde,,,
2,Avaco/Aage,1030,1050,Denmark,Roskilde,,,
3,Wilhelm,1060,1073/74,Denmark,Roskilde,,,
4,Svend Nordmand,1074,1088,Denmark,Roskilde,,,
5,Arnold,1088,1124,Denmark,Roskilde,,,
6,Peder,1124,1134,Denmark,Roskilde,,,
7,Eskil,1134,1137,Denmark,Roskilde,,,
8,Ricco/Rike,1137,1138/39,Denmark,Roskilde,,,
9,Asker/Asser,1139,1158,Denmark,Roskilde,,,
10,Absalon,1158,1191,Denmark,Roskilde,,,
11,Anders Sunesen,1191,1214,Denmark,Roskilde,,,
12,Peder Jakobsen,1214/15,1224/25,Denmark,Roskilde,,,
13,Niels Stigsen,1225,1249,Denmark,Roskilde,,,
14,Jakob Erlandsen,1249,1254,Denmark,Roskilde,https://de.wikipedia.org/wiki/Jakob_Erlandsen,Jakob Erlandsen (* im 12. oder 13. Jahrhundert...,
15,Peder Bang,1254,1277,Denmark,Roskilde,https://de.wikipedia.org/wiki/Peder_Bang,Peder Bang († 23. Juni 1277) war 1254 bis 1277...,
16,Stig,1278,1280,Denmark,Roskilde,,,
17,Ingvar,1280,1290,Denmark,Roskilde,,,
18,Johann / Jens Krag,1290,1300,Denmark,Roskilde,,,
19,Oluf,1301,1320,Denmark,Roskilde,,,
20,Johann / Jens Hind,1321,1330,Denmark,Roskilde,,,
21,Johann / Jens Nyborg,1330,1344,Denmark,Roskilde,,,
22,Jakob Poulsen,1344,1350,Denmark,Roskilde,,,
23,Henrik Gertsen,1350,1368,Denmark,Roskilde,,,
24,Niels Jepsen Ulfeldt,1368,1395,Denmark,Roskilde,,,
25,Peder Jensen Lodehat,1395,1416,Denmark,Roskilde,https://de.wikipedia.org/wiki/Peder_Jensen_Lod...,"Peder Jensen Lodehat, latinisiert Petrus Johan...",
26,Jens Andersen Lodehat,1416,1431,Denmark,Roskilde,,,
27,Jens Pedersen Jernskæg,1431,1448,Denmark,Roskilde,,,
28,Oluf Daa,1449,1461,Denmark,Roskilde,,,
29,Oluf Mortensen Baden,1461,1485,Denmark,Roskilde,,,
30,Niels Skave,1485,1500,Denmark,Roskilde,,,
31,Johan Jepsen Ravensberg,1500,1512,Denmark,Roskilde,,,
32,Lage Urne,1512,1529,Denmark,Roskilde,,,
33,Joachim Rønnow,1529,1536,Denmark,Roskilde,,,
34,Peder Palladius,1537,1560,Denmark,Roskilde,https://de.wikipedia.org/wiki/Peder_Palladius,Peder Palladius (* 1503 in Ribe; † 3. Januar 1...,
35,Hans Albertsen,1560,1569,Denmark,Roskilde,,,
36,Povl Johan Madsen,1569,1590,Denmark,Roskilde,,,
37,Peder Jensen Winstrup,1590,1614,Denmark,Roskilde,,,
38,Hans Poulsen Resen,1614,1638,Denmark,Roskilde,,,
39,Jesper Rasmussen Brochmand,1638,1652,Denmark,Roskilde,https://de.wikipedia.org/wiki/Jesper_Rasmussen...,Jesper Rasmussen (auch Caspar Erasmus) Brochma...,
40,Hans Hansen Resen,1652,1653,Denmark,Roskilde,,,
41,Laurids Scavenius,1653,1655,Denmark,Roskilde,,,
42,Hans Svane,1655,1668,Denmark,Roskilde,,,
43,Hans Wandal,1668,1675,Denmark,Roskilde,,,
44,Hans Bagger,1675,1693,Denmark,Roskilde,,,
45,Henrik Bornemann,1693,1710,Denmark,Roskilde,,,

In [43]:
denmark_viborg = collector('/Users/orion/Downloads/chromedriver', 'https://de.wikipedia.org/wiki/Bistum_Viborg', 'Denmark', 'Viborg')
denmark_viborg

,Name,From,To,Country,Diocese,Bio Link,German Bio,English Bio
0,Heribert,1065,1095,Denmark,Viborg,,,
1,Svend I.,1106,1112,Denmark,Viborg,,,
2,Eskil,1112,1133,Denmark,Viborg,,,
3,Svend II.,1133,1153,Denmark,Viborg,,,
4,Niels I.,1153,1191,Denmark,Viborg,,,
5,Gunner,1222,1251,Denmark,Viborg,,,
6,Jacob Moltke,1367,1396,Denmark,Viborg,,,
7,Thorleif Olafssøn,1438,1450,Denmark,Viborg,,,
8,Knud Mikkelsen,1451,1478,Denmark,Viborg,,,
9,Niels Glob,1478,1498,Denmark,Viborg,,,
10,Jørgen Friis,1521,1536,Denmark,Viborg,,,
11,Jacob Schøning,1537,1549,Denmark,Viborg,,,
12,Kjeld Juel,1549,1571,Denmark,Viborg,,,
13,Peder Thøgersen,1571,1595,Denmark,Viborg,,,
14,Hans Iversen Wandal,1617,1641,Denmark,Viborg,https://de.wikipedia.org/wiki/Hans_Iversen_Wandal,Hans Iversen Wandal (* 20. August 1579 in Ribe...,
15,Peder Villadsen,1661,1673,Denmark,Viborg,,,
16,Søren Glud,1673,1693,Denmark,Viborg,,,
17,Henrik Gerner,1693,1700,Denmark,Viborg,,,

In [61]:
denmark_aalborg = collector('/Users/orion/Downloads/chromedriver', 'https://de.wikipedia.org/wiki/Bistum_Aalborg', 'Denmark', 'Aalborg')
denmark_aalborg

,Name,From,To,Country,Diocese,Bio Link,German Bio,English Bio
0,Magnus,1060/65,1060/65,Denmark,Aalborg,,,
1,Albricus,1060/65,,Denmark,Aalborg,,,
2,Sylvester,1134,?,Denmark,Aalborg,,,
3,Tyge,1145,1177,Denmark,Aalborg,,,
4,Elav Glob,1252,1260,Denmark,Aalborg,,,
5,Johannes,1264,1280,Denmark,Aalborg,,,
6,Tyge Klerk,1328,1341,Denmark,Aalborg,,,
7,Svend,1370,1396,Denmark,Aalborg,,,
8,Peder Friis,1396/97,1425,Denmark,Aalborg,,,
9,Gert Pedersen Gyldenstierne,1425,1452,Denmark,Aalborg,,,
10,Jep Friis,1453,1486,Denmark,Aalborg,,,
11,Niels Styggesen Rosenkrantz,1486,1519,Denmark,Aalborg,,,
12,Stygge Krumpen,1519,1536,Denmark,Aalborg,,,
13,Peder Thomesen,1536,1548,Denmark,Aalborg,,,
14,Oluf Chrysostomus,1548,1553,Denmark,Aalborg,,,
15,Laurids Nielsen,1554,1557,Denmark,Aalborg,,,
16,Jørgen Mortensen Bornholm,1557,1587,Denmark,Aalborg,,,
17,Jacob Jensen Holm,1587,1609,Denmark,Aalborg,,,
18,Christen Hansen,1609,1642,Denmark,Aalborg,,,
19,Anders Andersen Ringkjøbing,1642,1668,Denmark,Aalborg,,,
20,Morits Kønning,1668,1672,Denmark,Aalborg,,,
21,Mathias Foss,1672,1683,Denmark,Aalborg,,,
22,Henrik Bornemann,1683,1693,Denmark,Aalborg,,,
23,Jens Bircherod,1693,1708,Denmark,Aalborg,,,
24,Gegründet,1554,,Denmark,Aalborg,,,